<%= javascript_tag do %>
  var percentages_data = [
    <% @project_windows.each do |project_window| %>
      { 
        label: "<%= project_window.project_name %>",
        value: <%= project_window.total_hours %> 
      },
    <% end %>
  ];
  
  var hour_data = new Array;
  var ykeys = new Array;

  <% @project_windows.each do |project_window| %>
    ykeys.push("<%=project_window.project_name%>");

    <% project_window.hours_by_day.each_with_index do |hour, i| %>
      var date = "<%= project_window.daterange[i].strftime('%Y-%m-%d') %>";
      hour_data[<%=i%>] || (hour_data[<%=i%>] = {});
      hour_data[<%=i%>]['y'] = date;
      hour_data[<%=i%>]["<%=project_window.project_name%>"] = <%=hour%>;
    <% end %>
  <% end %>
<% end %>

<div class="row page-header">
  <h2 class="col-md-12">Project Hours by Day</h2>
  <%= form_tag dashboard_path, :class => 'col-lg-4' do %>
    <%= select_tag "month", options_for_select(@months.map {|m| [m.strftime("%B %Y"), m]}, @month), :class => "form-control", :id => "month-selector" %>
  <% end %>
</div>

<div class='row top-buffer'>
  <div id="project-percentages" class="col-md-4" style="height: 300px"></div>
  <div id="daily_hours" class="col-md-8" style="height: 300px"></div>
</div>

<div class='row top-double_buffer'>
<table id='project-breakdown' class='table table-striped table-condensed'>
<thead>
  <tr>
    <th>Project</th>
    <% @daterange.each do |date| %>
      <th><%= date.strftime("%d") %></th>
    <% end %>
    <th>Total</th>
  </tr>
</thead>
<tbody>
  <% @project_windows.each do |project_window| %>
    <tr>
      <td><%= link_to project_window.project_name, project_path(project_window.project, {:month => @month.to_s}) %></td>
      <% project_window.hours_by_day.each do |hours| %>
        <td class='numeric'><%= hours %></td>
      <% end %> 
      <td class='numeric'><%= project_window.total_hours %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="<%= @daterange.count + 2 %>" style="text-align: right">
      Total Hours: <%= @project_analytic.total_hours %>
    </td>
  </tr>
</tbody>
</table>
</div>
