<!DOCTYPE html>
<html>
<head>
  <title>Transparency</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class='container'>
      <div class="navbar-header">
        <%= image_tag "redcoyote-logo-sm.png" %>
      </div>
      <div class="navbar-inner">
        <% unless current_page?(root_path) %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class='container'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</body>
</html>
